<a href="https://colab.research.google.com/github/Vidhi7742/ShapeAI_Bootcamp_BWD/blob/main/Copy_of_Python_test2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
string= "I AM INDIAN"  #1

In [ ]:
string=string.replace("D","T")    #1)i)
print(string)

NAITNI MA I

In [ ]:
string= "I AM INDIAN"[::-1]    #1)iii)
print(string)

NAIDNI MA I

In [ ]:
string.lower()         #1)iv)

'i am indian'

In [ ]:
list1= [1,2,3,4,5]                #2)
list2= [55,223,56,76,87]

In [ ]:
list1.append(89)
print(list1)

[1, 2, 3, 4, 5, 89]

In [ ]:
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 55, 223, 56, 76, 87]

In [ ]:
len(list1)

10

In [ ]:
str = input("Enter the string: ")      #3)
temp=0
for i in range(len(str)):
  temp=temp+1
print("Total characters in the string = ",temp)

Enter the string hello
Total characters in the string =  5

In [ ]:
str = input("Enter any character :")          #4)
if str.islower():
  print("The character is lowercase ")
else:
  print("The character is uppercase ")

Enter any character :hello
The character is lowercase

In [ ]:
n=int(input("Enter the total number you want to enter:"))              #5)

sum=0

for i in range(n):

    x=int(input("Enter the number:"))

    sum=sum+x

avg=sum/n

print("Average=",avg)

Enter the total number you want to enter:3
Enter the number:1
Enter the number:3
Enter the number:5
Average= 3.0

In [ ]:
number = int(input("Enter a number: "))              #6)
sqrt = number ** 0.5
print("square root:", sqrt)

Enter a number: 25
square root: 5.0

In [ ]:
num = int(input("Enter a number: "))       #7)
factorial = 1    
if num < 0:    
   print(" Factorial does not exist for negative numbers")    
elif num == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,num + 1):    
       factorial = factorial*i    
   print("The factorial of",num,"is",factorial)

Enter a number: 3
The factorial of 3 is 6

In [ ]:
n = int(input("Please Enter a Number: "))           #8)

last_digit = n % 10

print("The Last Digit in the Number %d = %d" %(n, last_digit))

Please Enter a Number: 455
The Last Digit in the Number 455 = 5

In [ ]:
list = [56, 37, 85, 13, 6, 93, 103]            #9)
newList = sorted(list)
print(newList)

[6, 13, 37, 56, 85, 93, 103]

In [ ]:
list = [10 ,30, 20, 40, 60, 90, 15, 45, 75]          #10)
[x for x in list if x<50]

[10, 30, 20, 40, 15, 45]

In [ ]:
n = int(input("Enter n value : "))       #11)
d = {i:i **2 for i in range(1,n+1)}
print(d)

Enter n value : 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
a = int(input("Enter the first number : "))       #12)
n = int(input("Enter the total numbers in the A.P Series : "))
d = int(input("Enter the common difference : "))
sum = (n * (2 * a + (n - 1) * d)) / 2
print(sum)

Enter the first number : 1
Enter the total numbers in the A.P Series : 5
Enter the common difference : 2
25.0

In [ ]:
n=int(input("Enter a number:"))         #13)
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
    print("The number is a palindrome")
else:
    print("The number is not a palindrome")

Enter a number:343
The number is a palindrome

In [ ]:
size = 5                 #14)
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

        *
       *  *
      *  *  *
     *  *  *  *
    *  *  *  *  *

In [ ]:
sum=0              #15)

num=int(input("Enter a number:"))  

temp=num  

while(num):  
 
    i=1  
 
    fact=1  
    rem=num%10  
    while(i<=rem):  
        fact=fact*i    
        i=i+1  
    sum=sum+fact  
    num=num//10  
if(sum==temp):  
    print("Given number is a strong number")  
else:  
    print("Given number is not a strong number")

Enter a number:145
Given number is a strong number